/* --------- Global style */

body {
    background-color: #fafafa;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Classes to be used to simulate animations */

table.GeneratedTable td.activated {
    background-color: yellow;
}

table.GeneratedTable td.activated:hover {
    background-color: yellow;
}

table.GeneratedTable td.activated:active {
    background-color: yellow;
}

.unclickable {
    pointer-events: none;
  }

/* --------- Game layout */

.game-area {
    background-image: url(../images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 80%;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


table.GeneratedTable {
    width: 80%;
    color: #000000;
    margin-top: 12.5%;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
}

table.GeneratedTable td{
    box-sizing: border-box;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 10);
    border-style: solid;
    padding: 5%;
    background-color: white;
}

table.GeneratedTable td:hover {
    background-color: rgb(120,120,75);
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#bestscore {
    color: blue;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}


/* --------- Buttons */

.button {
    display: inline-block;
    padding: 25px;
}

#lopmode {
    display: none;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }

    table.GeneratedTable {
        margin-top: 10%;
        width: 70%;
    }

    table.GeneratedTable td {
        border-width: 1px;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    table.GeneratedTable {
        margin-top: 15%;
        width: 70%;
    }

    table.GeneratedTable td {
        border-width: 0.5px;
    }

}